/* html_title
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.html_title {
    text-align: center;
    color:whitesmoke;
    background-color:rgb(113, 108, 120);
    z-index: 100;
}


.content{
    /* position: fixed;
    right:1300px;
    left:30px; 
    top:130px; */
    overflow-y: auto;
}

#title_content{
    position: fixed;
    overflow-y: auto;
    right: 300px;
    left: 1300px;
    bottom: 150px;
    top: 100px;
    
}

.H1_title{
    color:lawngreen;
    position:relative;
    left:5px;
}
.H2_title{
    color:midnightblue;
    position:relative;
    left:15px;
}
.H3_title{
    color:sienna;
    position:relative;
    left:25px;
}

